{{#shapes}}
  .icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-image: ulr('/temp/sprite/css/{{{base}}}');
    background-position: {{position.relative.xy}}
  }
{{/shapes}}

