html {
    font-size: 62.5%; /* equivalent to 1 = rem OR 10px */
}

body {
    font-family: 'Slabo 27px', serif;
    color: #333;
    font-size:1.6rem;
    background-image:url("../../assets/img/background.gif");
    background-repeat: repeat-x;
    background-color: $purple;
}

/* more code */

img {
    max-width: 100%;
    height: auto;
}
