/* about section */
.content ul.internalnav
{
  line-height: 1.5rem;
}

.about-container
{
  color:#000;
  width:inherit;
  position:relative;
  min-height:275px;
  margin:0;
  padding:0;
}

.about-container .section
{
  float:left;
  width:85%;
  height:auto;
  margin:1rem;
  position:absolute;
  top:0;
  left:0;
  display: none;
}

.about-container .section p
{
  font-size:1rem;
}
