.feature-item
{
  position: relative;
  padding-bottom: 3rem;

  &__title
  {
    font-size: 2.6rem;
    font-weight: 300;
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
    text-align: center;
    color:$orange;
  }

  &__paragraph
  {
    font-size:1.4rem;
    letter-spacing: 0.1rem;
    color:$white;
  }

  /* used by photos */
  &__imagegallery
  {
    list-style-type: none;
    display:block;
  }

  &__imagegallery li
  {
    margin:0.5rem 0;
  }

  &__imagegallery-link a img
  {
    width:25%;
    height:25%;
    border:1px solid $black;
  }

  &__imagegallery-link a img:hover
  {
    border:1px solid $white;
  }

  &__placeholder
  {
    position:relative;
  }

  &__placeholder-description
  {
    font-size:1.4rem;
    color:$orange;
  }

  &__placeholder-image
  {
    position: absolute;
    float:left;
  }

  /*used by live */
  &__table
  {
    width:100%;
    margin:0 auto;
  }

  &__table-head
  {
    color: $tan;
    background-color: $aqua;
    font-size: 2rem;
    font-weight: 700;
  }

  &__table-row
  {
    font-size: 1.6rem;
    color: $black;
    background-color: $yellow;
    padding:0.4rem;
  }

  /*used by contact */
  &__form
  {
    width:50%;
    margin:0 auto;
    position: relative;
  }

  &__form input
  {
    margin-bottom:0.8rem;
    width:100%;
  }

  &__form textarea
  {
    margin-bottom:1.6rem;
    width:100%;
  }

  &__form-label
  {
    display:block;
    color:$orange;
    margin-bottom:0.4rem;
    font-size:1.8rem;
    font-weight: 700;
  }

  &__form-send
  {
    margin:0;
    font-weight: 700;
    font-size:1.6rem;
    float:right;
  }
}

/* used by about */
.internalnav
{
  list-style-type: none;

  &__link
  {
    font-size:1.8rem;
    margin-bottom: 2rem;
  }

  &__link a
  {
    text-decoration: none;
    color:$orange;
  }

  &__link a:hover
  {
    color:$white;
  }
}

