.header
{
    background-color: #334;
    background-image: url(img/guitarist.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}

.header.about
{
  background-image: url(img/lineup.gif);
  background-size:250px 250px;
}

#photos #header {
  background-image: url(../img/basshead.gif);
}

#live #header {
  background-image: url(../img/bassist.gif);
}

#contact #header {
  background-image: url(../img/drummer.gif);
}
