.navigation
{
  text-align:center;
/*  background-image:url("../../assets/img/navbar.gif");
  background-repeat: repeat-x;*/
  background-color:$purple;
  box-shadow: 0 4px 4px 2px $black;

  &__container
  {
    margin:0 auto;
    position: relative;
    list-style-type: none;
    display:inline-block;
  }

  &__link
  {
    float:left;
    text-transform: uppercase;
    font-size:1.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    margin:0.2rem 1rem;
    padding:0.2rem;
  }

  &__link a
  {
    color:$white;
    text-decoration: none;
  }

  &__link a:hover
  {
    color:$orange;
  }
}
