.primary-nav {
  padding-top: 1rem;

  @mixin atMedium {
    padding-top: 0;
  }
  
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
  }

  a {
    background-color: rgba($blue, 0.5);
    color: $white;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0;
    text-decoration: none;

    @mixin atMedium {
      background-color: transparent;
      font-size: 3rem;
      padding: 1.2rem 0;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
