.row
{
  @mixin clearfix;

  @mixin atMedium
  {
    &__medium-4
    {
      float:left;
      width: 33.33%;
    }

    &__medium-8
    {
      float:left;
      width:66.66%;
    }

    &__medium-6
    {
      float:left;
      width:50%;
    }

    &__medium-12
    {
      width:95%;
    }
  }
}
