.site-header {
  position: absolute;
  z-index: 2;

  padding: 1rem 0;
  transition: background-color 0.3s ease-out;
  width: 100%;

  &--is-expanded {
    background-color: rgba($blue, 0.55);
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;

    background-color: $purple;
    padding: 2.5rem 3.6rem;
    transform: translateX(-50%) scale(0.8);
    transform-origin: 50% 0;

    @mixin atMedium {
      left: auto;
      transform: translateX(0) scale(1);
    }
  }

  /* hide the menu on phones */
  &__menu-content {
    position: relative;
    top: 1rem;
    right: 1rem;
    z-index: 10;

    background-color: $white;
    height: 2rem;
    width: 2rem;
    opacity: 0;
    padding-top: 9rem;
    text-align: center;
    transform: scale(1.2);
    transition: all 0.3s ease-out;

    @mixin atMedium {
      z-index: 1;

      opacity: 1;
      padding-top: 0;
      text-align: left;
      transform: scale(1);
    }

    &--is-visible {
      z-index: 1;

      opacity: 1;
      transform: scale(1);
    }
  }

  &__menu-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    background-color: $white;
    height: 2rem;
    width: 2rem;

    @mixin atMedium {
      display: none;
    }
  }
}
